# Neovim
.config/nvim/lazy-lock.json

# Karabiner Elements
.config/karabiner/automatic_backups

# Zed Editor
.config/zed/*
!.config/zed/settings.json
!.config/zed/themes
.config/zed/themes/*
!.config/zed/themes/catppuccin.json
