# Change to dir and "refresh" the output
function ..cd
    cd $argv[1]
    clear
    la
end

# Open pwd in finder
alias finder='open .'

# Go "back" to the HOME dir
alias ..='..cd ~'

# Quick access to dirs
alias ..p='..cd ~/Projects'
